<!-- myapp/templates/myapp/user_list.html -->
{% extends 'myapp/base.html' %}

{% block title %}User List{% endblock %}

{% block content %}
<h2>User List</h2>
<ul>
    {% for user, is_contact in contacts %}
        <li>
            {{ user.username }}
            {% if is_contact %}
                <span>Already in Contact</span>
            {% else %}
                <a href="{% url 'send_interest' user.id %}">Send Interest</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}


